{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
//    ['es2015'],
//    ['stage-2'],
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-runtime"
  ]
}